<header class="header">
    <div class="container">
        <a href="index.html" class="logo">
            <img src="../assets/img/logo.svg" alt="logo">
        </a>

        <div class="mobile-container">
            <nav class="header-nav">
                <a href="#" class="header-nav_item">Home</a>
                <a href="#" class="header-nav_item">Select</a>
                <a href="#" class="header-nav_item">Shop</a>
            </nav>

        </div>
        <button class="button-burger">
            <span></span>
        </button>
    </div>
</header>
